.middleBarGroup {
  width: 700px;
  height: 200px;

  margin: auto;
  display: flex;
  justify-content: center;
  
}
.middleBarBox {
  width: 500px;
  height: 200px;
  border-radius: 0 0 30px 30px;
  
  background-color: grey;
  
  display: flex;
  justify-content: center;
  align-items: center;

  margin: -20px 10px;
  
}
.middleBarBox:hover {
  cursor: pointer;
  margin-top: -5px;
  transition-duration: .5s;
}


.bestFiveList {
  background-color: aliceblue;
  width: 300px;
  height: 200px;
}
.bestFiveImg {
  
}