ul {
  padding: 0;
}

li {
  list-style: none;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
  margin-top: 50px;
}

main h1 {
  margin-bottom: 50px;
  text-align: center;
}

.wrapper {
  position: relative;
}

.wrapper:before,
.wrapper:after {
  position: absolute;
  top: 0;
  z-index: 1;
  content: "";
  display: block;
  width: 20px;
  height: 100%;
}

.items {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
  cursor: pointer;
}

.items.active {
  cursor: grab;
}
.textbox {
  width: 350px;
  height: 130px;
}
.textbox h2 {
  white-space: normal;
  width: 100%;
  font-size: 20px;
  margin-left: 10px;
}
.textbox span {
  font-size: 18px;
  margin-left: 10px;
}

.item {
  display: inline-block;
  margin-left: 20px;
  width: 350px;
  height: 500px;
}

.itemimgbox {
  width: 350px;
  height: 370px;
}

.itemimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item:last-child {
  margin-right: 20px;
}

/* @media screen and (min-width: 500px) {
  .item {
    width: 33%;
  }
}

@media screen and (min-width: 800px) {
  .item {
    width: 25%;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    margin-left: -20px;
  }

  .item {
    width: 20%;
  }
} */
